<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <ul>
    | <%= link_to "削除", user, method: :delete, class: "btn btn-primary", data: { confirm: "削除してよろしいですか？" } %>
  </ul>
  
  <ul>
   <table class = "table-bordered  table-striped table-condensed">
    <tr>
     <td>
      <button type="button" class="btn btn-primary btn-lg pull-left" data-toggle="collapse" data-target="#<%= user.id %>">編集</button>
          <div id="<%= user.id %>" class="collapse">
           <%= form_with model: @user, id: :user_id, local: true do |f| %>
            
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: 'form-control' %>
                  
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: 'form-control' %>
                
            <%= f.label :department, "所属" %>
            <%= f.text_field :department, class: 'form-control' %>
            
            <%= f.label :card_id, "カードid" %>
            <%= f.text_field :card_id, class: 'form-control' %>
                  
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.label :basic_time, "基本時間" %>
            <%= f.time_field :basic_time, class: 'form-control' %>
            
            <%= f.label :work_time, "指定勤務時間" %>
            <%= f.time_field :work_time, class: 'form-control' %>
            
            <%= f.label :work_time, "指定勤務終了時間" %>
            <%= f.time_field :work_time, class: 'form-control' %>
                  
                      
           <% end %>  
        </div>
      </td>  
     </tr>
    </table>  
  </ul>
  
  <% end %>
</li>