<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <ul>
    | <%= link_to "削除", user, method: :delete, class: "btn btn-primary", data: { confirm: "削除してよろしいですか？" } %>
  </ul>
  
  <ul>
    <table class = "table-bordered  table-striped table-condensed">
      <tr>
        <td>
            <ul>
    <table class = "table-bordered  table-striped table-condensed">
      <tr>
        
          <button type="button" class="btn btn-primary btn-lg pull-left" data-toggle="collapse" data-target="#demo">click me</button>
            <div id="demo" class="collapse">
            <%= form_with model: @user, id: :user_id, local: true do |f| %>
              <%= f.label :name, "名前" %>
              <%= f.text_field :name, class: 'form-control' %>
                    
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, class: 'form-control' %>
                  
              <%= f.label :department, "所属" %>
              <%= f.text_field :department, class: 'form-control' %>
                    
              <%= f.label :password, "パスワード" %>
              <%= f.password_field :password, class: 'form-control' %>
                    
              <%= f.label :password_confirmation, "パスワード確認" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
                    
            <% end %>  
            </div>
      
      </tr>
    </table>  
  </ul>
        </td>
      </tr>
    </table>  
  </ul>
  
  <% end %>
</li>